# Python virtual environment
venv/
ENV/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# FastAPI / UVicorn
*.log

# Environment variables
.env
.env.*

# YOLO model outputs
runs/
results/
uploads/
ppe_detection/
*.pt

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# other
assets/
